<%= form_tag(orders_path, method: :post) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'Your name:' %>
    <%= text_field_tag 'order[name]' %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plus.each do |plu| %>
        <tr>
          <td><%= plu.name %></td>
          <td><%= plu.price %></td>
          <td>
            <button type="button" name="plus" id="js-plus-<%= plu.id %>" class='js-plus-btn'>+</button>
          </td>
          <td>
            <button type="button" name="minus" id="js-minus-<%= plu.id %>" class='js-minus-btn'>-</button>
          </td>
          <td>
            <%= number_field_tag(
              "items[#{plu.id}]",
              0,
              id: "js-units-#{plu.id}",
              class: 'js-units-btn',
              min: 0) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
   <%= submit_tag 'Create Order' %>
  </div>
<% end %>

<script type="text/javascript">
  $('.js-plus-btn').on('click', function(e) {
    addUnits(e, 'plus');
  });

  $('.js-minus-btn').on('click', function(e) {
    addUnits(e, 'minus');
  });

  function addUnits(e, operation) {
    var units_name = $(e.target).attr('id').replace('js-'+operation+'-', 'js-units-');
    units_text = $('#'+units_name);
    units = parseInt(units_text.val(), 10);
    if (operation === 'plus')
      units_text.val(++units);
    else
      units_text.val(--units);
  }
</script>
