<script type="text/javascript">
  App.client_notifications = App.cable.subscriptions.create('ClientNotificationsChannel', {
    received: function(data) {
      if ((data.kind === 'serviced_order') && (data.order_id === <%= (@order.present? ? @order.id : 0) %>)) {
        $("#notifications").removeClass('hidden');
        this.tryVibrate();
      }
    },
    tryVibrate: function() {
      if("vibrate" in navigator) {
        navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;
        if (navigator.vibrate)
          navigator.vibrate([100, 200, 300])
        ;
      }
    }
  });
</script>

<p id="notice"><%= notice %></p>

<h1>Please wait until your order is processed</h1>

<h2 id="notifications" class="hidden">
  Congrats! you can pick your order now!
</h2>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>
<p>
  <strong>Received:</strong>
  <%= @order.created_at %>
</p>

<h2>TOTAL: <%= @order.total %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Units</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.plu.name %></td>
        <td><%= order_item.plu.price %></td>
        <td><%= order_item.units %></td>
        <td><%= order_item.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= new_order_path %>">Make new order</a>
